@media (min-width : 320px) 
and (max-width : 767px) {
    /* Styles */
    .trends, .self-info{
        display: none;
    }
    .bd .main{
        width: 100%;
        left: 0;
        .container {
            margin: 0;
            padding: 0;
            nav {
                .tips li{
                    display: block;
                    float: none;
                    width: 100%;
                    div{
                        margin: 0;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    header{
        background-color: white;
        nav{
            li{
                display: none;
            }
        }
        .options{
            input{
                display: none;
            }
        }
    }
}