@charset "UTF-8";
/* line 5, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?66168236");
  src: url("../font/fontello.eot?66168236#iefix") format("embedded-opentype"), url("../font/fontello.woff?66168236") format("woff"), url("../font/fontello.ttf?66168236") format("truetype"), url("../font/fontello.svg?66168236#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66168236#fontello') format('svg');
  }
}
*/
/* line 22, ../sass/fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/fontello.scss */
.icon-twitter-bird:before {
  content: '\e800';
}

/* '' */
/* line 54, ../sass/fontello.scss */
.icon-arrows-cw:before {
  content: '\e801';
}

/* '' */
/* line 55, ../sass/fontello.scss */
.icon-star:before {
  content: '\e802';
}

/* '' */
/* line 56, ../sass/fontello.scss */
.icon-share:before {
  content: '\e803';
}

/* '' */
/* line 57, ../sass/fontello.scss */
.icon-mail:before {
  content: '\e804';
}

/* '' */
/* line 58, ../sass/fontello.scss */
.icon-bell:before {
  content: '\e805';
}

/* '' */
/* line 59, ../sass/fontello.scss */
.icon-search:before {
  content: '\e806';
}

/* '' */
/* line 60, ../sass/fontello.scss */
.icon-resize-full:before {
  content: '\e807';
}

/* '' */
/* line 61, ../sass/fontello.scss */
.icon-play:before {
  content: '\e808';
}

/* '' */
/* line 62, ../sass/fontello.scss */
.icon-feather:before {
  content: '\e809';
}

/* '' */
/* line 63, ../sass/fontello.scss */
.icon-hash:before {
  content: '\e80a';
}

/* '' */
/* line 5, ../sass/style.scss */
.pull-left {
  float: left;
}

/* line 8, ../sass/style.scss */
.pull-right {
  float: right;
}

/* line 15, ../sass/style.scss */
header {
  height: 100px;
  background-color: #FFFCF5;
}
/* line 18, ../sass/style.scss */
header .icon-twitter-bird {
  color: #81A9CA;
}

/* line 22, ../sass/style.scss */
.bd {
  background-color: #F2EFE8;
}
/* line 24, ../sass/style.scss */
.bd:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../sass/style.scss */
.bd .self-info {
  width: 20%;
  background-color: #81A9CA;
}
/* line 32, ../sass/style.scss */
.bd .self-info .container {
  width: 100%;
}
/* line 36, ../sass/style.scss */
.bd .main {
  width: 60%;
}
/* line 38, ../sass/style.scss */
.bd .main .container {
  padding: 10px;
  margin: 10px;
}
/* line 41, ../sass/style.scss */
.bd .main .container nav {
  height: 100px;
  background-color: #FFFCF5;
  margin-bottom: 15px;
}
/* line 46, ../sass/style.scss */
.bd .main .container .tweets {
  background-color: #FFFCF5;
}
/* line 48, ../sass/style.scss */
.bd .main .container .tweets ul li {
  padding: 20px;
  border-bottom: 1px solid #F2EFE8;
}
/* line 56, ../sass/style.scss */
.bd .trends {
  width: 18%;
}
/* line 58, ../sass/style.scss */
.bd .trends .container {
  width: 100%;
  background-color: #FFFCF5;
  padding: 20px;
}
/* line 62, ../sass/style.scss */
.bd .trends .container .item {
  color: #81A9CA;
}
