@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  /* line 4, ../sass/tablet.scss */
  .bd .trends {
    display: none;
  }

  /* line 7, ../sass/tablet.scss */
  .bd .main {
    width: inherit;
  }
  /* line 9, ../sass/tablet.scss */
  .bd .main .container {
    margin: 10px 0 10px 10px;
    padding: 10px 0 10px 10px;
  }
}
